{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for book in books %}
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:'Y-m-d' }}</p>
                {% endfor %}
            </div>
        </div>
        <div>
            {% if prev_page %}
            <a href="/books/{{ prev_page|date:'Y-m-d' }}/">{{ prev_page|date:'Y-m-d' }}</a>
            {% endif %}
            {% if next_page %}
            <a href="/books/{{ next_page|date:'Y-m-d' }}/">{{ next_page|date:'Y-m-d' }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}